body {
  font-family: 'Bebas Neue', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background: black;
  color: rgb(46, 179, 96);
}

.main {
  display: flex;
  flex-direction: row;
  height: 100vh;
}


.utilities {
width: 40vw;
padding: 1rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}


h1 {
  text-align: center;
  font-size: 5rem;
  letter-spacing: 5px;
  text-shadow: 2px 2px 0 #fff;
  margin: 10px 0;
  padding: 10px;
}

h3 {
  font-size: 2rem;
  padding: 0 2rem;
  color: white;
  letter-spacing: 4px;

}

button {
  height: 50px;
  border: none;
  background: none;
  font-family: inherit;
  font-size: 1.5rem;
  outline: none;
  border: 2px solid white;
  border-radius: 25px;
  padding: 10px 20px;
  color: rgb(46, 179, 96);
  transition: 0.2s ease;
}

button:hover {
  background: white;
  cursor: pointer;
}


.disp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* game container */
.container {
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items:center;
  padding: 1rem;
  background: blue;

}
.grid {
  background-color: black;
  border: 4px solid  rgb(46, 179, 96);
  padding-top: 1rem;
  height: 400px;
  width: 200px;
  display: flex;
  flex-wrap: wrap;
}

.grid div {
    height: 20px;
    width: 20px;
}

.tetromino {
  border-radius:5px;
  box-shadow: inset 1px 1px 0px white,
   0px 0px 10px white;
  position: relative;
}

.tetromino:after {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  top: 0;
  left: 0;
}


.mini-grid {
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: aqua;
  margin-left: 2rem;
}

.mini-grid div {
  height: 20px;
  width: 20px;
}
